.data-security-section {
  padding: 90px 0;
  background: linear-gradient(135deg, #f3f4f5, #f4f8ff);
}

/* Badge */
.security-badge {
  background: #243b9a;
  color: #fff;
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}

/* Title */
.security-title {
  font-size: 38px;
  font-weight: 700;
  color: #0a2540;
  margin-bottom: 20px;
}

.security-title span {
  color: #CC952B;
}

/* Text */
.security-desc {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

/* Highlight */
.security-highlight {
  display: flex;
  gap: 12px;
  /* background: #fff; */
  padding: 16px;
  border-left: 4px solid #CC952B;
  border-radius: 10px;
  margin: 25px 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.security-highlight svg {
  font-size: 26px;
  color: #CC952B;
}


.security-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #444;
  box-shadow: 0 8px 20px rgba(0,0,0,0.04);
}

.security-list li svg {
  color: #CC952B;
  font-size: 18px;
  flex-shrink: 0;
}

/* Image */


/* Responsive */
@media (max-width: 991px) {
  .security-title {
    font-size: 30px;
  }

  .security-image-wrapper {
    margin-top: 40px;
  }
}
.security-list {
  min-height: 100%;
}

.security-subtitle {
  border-left: 4px solid #CC952B;
  padding-left: 10px;
}
.security-image-wrapper {
  position: relative;
}

.main-security-img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.15);
}

/* Small circular logos */
.security-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}



.small-logo:hover {
  transform: scale(1.1);
}
