




.footer-main {
  background-color: #0b1b3f;
}

.footer-title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-text {
  color: #cbd5e1;
  font-size: 15px;
  line-height: 1.7;
}

/* LINKS */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffffff;
}

/* SOCIAL ICONS */
.footer-social a {
  width: 36px;
  height: 36px;
  background: #162a4d;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  color: #ffffff;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #CC952B;
}

/* CONTACT */
.footer-contact {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  color: #cbd5e1;
}

.footer-contact svg {
  color: #60a5fa;
  margin-top: 4px;
}

/* DIVIDER */
.footer-divider {
  border-top: 1px solid #374151;
}

/* COPYRIGHT */
.footer-copy,
.footer-policy {
  color: #9ca3af;
  font-size: 14px;
  text-decoration: none;
}

.footer-policy:hover {
  color: #ffffff;
}

.footer-main {
  background-color: #0b1b3f;
  border-top: 4px solid #CC952B; /* TOP underline */
}


.footer-title {
  color: #ffffff;
  font-weight: 700; /* BOLD */
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

/* GOLD UNDERLINE */
.footer-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: #CC952B;
  border-radius: 2px;
}


.footer-links a {
  color: #cbd5e1;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.footer-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #CC952B;
  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-links a:hover {
  color: #ffffff;
}
