.page-banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  color: #243b9a;
}

/* Dark overlay for readability */
.page-banner-overlay {
  position: absolute;
  inset: 0;

  z-index: 1;
}

/* Text content */
.page-banner-content {
  position: relative;
  z-index: 2;
  padding-left: 80px;
}

.page-banner-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #243b9a;
}

.breadcrumb a {
  font-size: 16px;
  font-weight: 700;
  color: #243b9a;
  text-decoration: none;
  opacity: 0.9;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  opacity: 0.8;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .page-banner {
    height: 220px;
  }

  .page-banner-content {
    padding-left: 20px;
  }

  .page-banner-content h1 {
    font-size: 28px;
  }
}
/* ===============not found============ */
.notfound-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff; /* FULL WHITE BACKGROUND */
  padding: 20px;
}

.notfound-content {
  text-align: center;
  max-width: 520px;
  color: #293c8f;
}

.notfound-content img {
  max-width: 320px;
  width: 100%;
  margin: 0 auto 20px;
  display: block;
}

.notfound-content h1 {
  font-size: 96px;
  font-weight: 800;
  margin: 10px 0 0;
  color: #293c8f;
}

.notfound-content h3 {
  font-size: 26px;
  margin: 10px 0;
  color: #293c8f;
}

.notfound-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

/* Go Home Button */
.home-btn {
  display: inline-block;
  padding: 14px 34px;
  background: #cc952b;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background: #293c8f;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(41, 60, 143, 0.3);
}

/* Responsive */
@media (max-width: 576px) {
  .notfound-content h1 {
    font-size: 72px;
  }

  .notfound-content h3 {
    font-size: 20px;
  }
}
